header{
	width:100%;
	font-family:'Poppins','Nanum Gothic','맑은 고딕', sans-serif;

}

header>.logo{
	width:95px; height:52px;
	position:fixed;
	left:30px; top:30px;
	z-index:900;
}


header>.logo>h1{
	width:95px; height:52px;
	text-indent:-9999px;
	background:url(../img/logo.png) no-repeat;
}


header>.logo>h1>a{
	display:block;
	width:95px; height:52px;
}


/*------------------오른쪽 메뉴 quick box 시작-----------------*/
nav{
	position:fixed;
	right:-50%; top:0px;
	width:50%; height:100%;
	z-index:900;
	background:#000;
	transition:all 0.8s;
}

/*f39f6f*/
nav>a{
	display:block;
	padding:0px 5px;
	position:absolute; left:-60px; top:50%; z-index:900;
	transform:rotate(90deg);
	background:#111;
	color:#fff;
	font-family: 'Poppins';
	border:0px none;
}

nav>.quick_box{
	width:100%; height:100%;
}

.switch{
	right:0px;
}

nav>.quick_box>ul{
	margin-top:140px;
	margin-left:50px;
}
nav>.quick_box>ul>li{
	font-size:30px;
	line-height:75px;
	list-style:1px;
  margin-bottom:10px;
  transition:all 0.8s;
}

nav>.quick_box>ul>li a{
	letter-spacing:-1px;
	color:#e0e0e0;
	font-weight:500;
}

nav>.quick_box>ul>li a:hover{
	color:#fff;
}
nav>.quick_box>ul>li>.num{
  display:block;
  font-size:14px;
	font-weight:bold;
  float:left;
	color:#fff;

}

nav>.quick_box>ul>li>.after{
  display:block;
  float:left;
  width:2px; height:2px;
  background:url(../img/bg_1.png) repeat;
  margin:40px 15px 0px 2px;
  transition:all 1.3s;
}

nav>.quick_box>ul>li:hover>.after{
  width:20px;
  transition:all 1.3s;
}













footer{
	position:fixed; left:-900px; top:0px;
	width:900px; height:100%;
	z-index:800;
	transition:all 0.8s;
}

footer .open{
}

.bar1{
	display:block;
	width:100px; height:16px; text-align:center;
	transform:rotate(-90deg);
	position:absolute; left:875px; top:50%;
	cursor:pointer;
	padding-bottom:6px;
	background:#111; color:#fff;
	font-family:'Poppins';
	border:0px none;
	}

.bar2{
	display:block;
	display:none;
	transform:rotate(-90deg);
	position:absolute; left:900px; top:50%;
	cursor:pointer;
	background:#111; color:#fff;
	padding:0px 5px;
	}

footer .pannel{
	background:#111;
	width:900px;
	height:100%;
	position:absolute; z-index:900;

}

/*f3cf55*/
footer .pannel .foot_wrap{
	width:90%;
	height:100%;
	margin:0px auto;
	color:#fff;
}

footer .pannel .foot_wrap .basic{
	width:100%;
	height:50%;
	margin:20% auto;
}
footer .pannel .foot_wrap .basic>.text{
 font-size:40px;
 letter-spacing:-1px;
 font-weight:bold;
 padding-left:20px;
}

footer .pannel .foot_wrap .basic img{
	display:block;
	width:400px; height:430px;
	margin:10px 20px 0px 20px;
	float:left;
}

/*-----------------------text section------------*/
footer .pannel .foot_wrap .basic h3{
	font-size:11px;
	padding-bottom:5px;
}

footer .pannel .foot_wrap .basic p{
	font-size:14px;
	padding-left:20px;
}

footer .pannel .foot_wrap .basic div{
	margin-top:20px;
}

footer .pannel .foot_wrap .basic .about p{
	font-family:'Nanum Gothic';
	letter-spacing:-0.5px;
}

footer .pannel .foot_wrap .basic .education p{
	font-family:'Nanum Gothic';
	letter-spacing:-1.5px;
	line-height:24px;
}
footer .pannel .foot_wrap .basic .contact a{
	display:block;
	color:#fff;
	padding-left:20px;
}

footer .pannel .foot_wrap .basic .interest p{
	font-family:'Nanum Gothic';
	letter-spacing:-1.5px;
	line-height:24px;
}
